* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 30%;
  border-radius: 5px;
  border: solid 1px black;
}

.info--paragraph{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F5F5F5;
  padding: 18px;
}

.para{
  margin-left: 25px;
  margin-right: 10px;
}

.info--paragraph h2{
  margin-bottom: 0px;
  font-weight:600;
}

.info--paragraph p{
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight:300;
}

img {
  height: 100px;
}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 10px;
  background-color: #D5D4D8;
  margin: 0px;
}

.footer i{
  color: #928E9B;
}
